<div id="header">
	<div id="logo">
		<h1 class="white">DOGS</h1>
	</div>
	<ul>
		<li><a class="grey none" href="#header">Home</a></li>
		<li><a class="grey none" href="">Shop</a></li>
		<li><a class="grey none" href="#gallery">Our Sweaters</a></li>
		<li><a class="grey none" href="#news">News</a></li>
		<li><a class="grey none" href="#shows">Shows</a></li>
		<li><a class="grey none" href="#races">Races</a></li>
		<li><a class="grey none" href="#articles">Dog's Life</a></li>
	</ul>
</div>